<!DOCTYPE html>
<html>
<head>
	<title>Key Protect Starter Application - Unauthorized</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="stylesheet" href="static/stylesheets/style.css" />
</head>
<body>
	<table>
		<tr>
			<td style='width: 30%;'><img class = 'newappIcon' src='static/images/newapp-icon.png'>
			</td>
			<td>
				<h1 id = "message">401 Unaurthorized</h1>
				<p class="description"></p> Please verify the Bluemix credentials provided in the <span class="blue">auth.json</span>
                files has access to the space running Key Protect.  Click on the Key Protect tile in your space to confirm you can reach the UI.
                <br/><br/>

                Find help by reading our <a
				href="https://console.eu-gb.bluemix.net/docs/services/keymgmt/index.html#overview1">documentation</a>.
			</td>
		</tr>

	</table>
</body>
</html>
